<h3><%= record.class %> has <%= pluralize record.errors.size, "error" %></h3>
<ul>
<% record.errors.each do |attr, msg| %>
  <%= content_tag(:li, "#{attr} #{msg}", :style => "font-weight: bold; color: #b94a48") %>
<% end %>
</ul>
